body {
  margin-bottom: 100px;
}

.chat-mensajes {
  height: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.chat-inpu {
  margin-top: 10px !important;
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
